.container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 300px;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(58, 80, 99);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.formLabel {
    letter-spacing: 0.06em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75)
}

.contactFormBtn {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}